@page
@using Michaelsoft.BodyGuard.Client.Models.Lists
@model Michaelsoft.BodyGuard.Client.Areas.User.Pages.List
@{
    Layout = "_BodyGuardLayout";
}

<div class="body-guard_client-form_outer">
    <div class="body-guard_client-form_middle">
        <div class="body-guard_client-form_inner">
            <h1>User List</h1>
            @{
                await Html.RenderPartialAsync("_UserList", new UserList());
            }
        </div>
    </div>
</div>