@page
@model ConfirmRegistration

@{
    ViewData["Title"] = "Confirm Registration";
}

<div class="text-center">
    <legend class="display-4">BodyGuard Confirm Registration Test</legend>
    <partial name="_Message" for="Message"/>
</div>