@page
@using Michaelsoft.BodyGuard.Client.Models
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <legend class="display-4">BodyGuard Authentication Test</legend>

    <div class="alert alert-primary">@Model.Message</div>

    @{
        await Html.RenderPartialAsync(
                                      "~/Views/Shared/_LoginForm.cshtml",
                                      new LoginForm
                                      {
                                          SuccessUrl = "/Site/Success",
                                          FailureUrl = "/Site/Failure",
                                          SubmitLabel = "Accedi"
                                      });
    }

    @{
        await Html.RenderPartialAsync(
                                      "~/Views/Shared/_UserList.cshtml",
                                      new UserList
                                      {
                                          UsersData = Model.UsersData
                                      });
    }
</div>