@page
@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Client.Models.Lists
@using Michaelsoft.BodyGuard.Common.Enums
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <legend class="display-4">BodyGuard Authentication Test</legend>

    <partial name="_Message" for="Message"/>

    @{
        await Html.RenderPartialAsync(
                                      "~/Views/Shared/_AuthenticationForm.cshtml",
                                      new AuthenticationForm
                                      {
                                          LoginSuccessUrl = "/Site/Success",
                                          LoginFailureUrl = "/Site/Failure",
                                          LoginLabel = "Accedi",
                                          LogoutSuccessUrl = "/Site/Success",
                                          LogoutFailureUrl = "/Site/Failure",
                                          LogoutLabel = "Esci",
                                          UserClaim = Claims.FullName,
                                          UserMessage = "Benvenuto:",
                                          RegistrationUrl = "/Site/Registration",
                                          RegistrationLabel = "... oppure registrati",
                                          PasswordRecoveryUrl = "/Site/PasswordRecovery",
                                          PasswordRecoveryLabel = "Hai dimenticato la password?"
                                      });
    }

    @{
        await Html.RenderPartialAsync(
                                      "~/Views/Shared/_UserList.cshtml",
                                      new UserList
                                      {
                                          SuccessUrl = "/Site/Success",
                                          FailureUrl = "/Site/Failure",
                                          SubmitLabel = "Aggiorna",
                                          UsersData = Model.UsersData
                                      });
    }
</div>