@page
@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Common.HttpModels.Authentication
@model PasswordRecovery

@{
    ViewData["Title"] = "Password Recovery";
}

<div class="text-center">
    <legend class="display-4">BodyGuard Password Recovery Test</legend>

    @{
        await Html.RenderPartialAsync(
                                      "~/Views/Shared/_PasswordRecoveryForm.cshtml",
                                      new PasswordRecoveryForm
                                      {
                                          SuccessUrl = "/Site/Success",
                                          FailureUrl = "/Site/Failure",
                                          SubmitLabel = "Richiedi di cambiare la password",
                                          PasswordRecoveryRequest = new PasswordRecoveryRequest
                                          {
                                              ValidateRecoveryUrl = "/Site/ValidateRecovery?token={{token}}"
                                          }
                                      });
    }

</div>