@page
@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Common.HttpModels.Authentication
@model Michaelsoft.BodyGuard.TestWebApp.Areas.Site.Pages.ValidateRecovery

@{
    ViewData["Title"] = "Validate Recovery";
}

<div class="text-center">
    <legend class="display-4">BodyGuard Validate Recovery Test</legend>
    <div class="site-form-container">
        @{
            await Html.RenderPartialAsync(
                                          "~/Views/Shared/_ValidateRecoveryForm.cshtml",
                                          new ValidateRecoveryForm
                                          {
                                              SuccessArea = "Site",
                                              SuccessPage = "/Success",
                                              FailureArea = "Site",
                                              FailurePage = "/ValidateRecovery",
                                              SubmitLabel = "Cambia la password",
                                              ValidateRecoveryRequest = new ValidateRecoveryRequest
                                              {
                                                  Token = Model.Token
                                              }
                                          });
        }
    </div>
</div>