@page
@model Michaelsoft.BodyGuard.Client.Areas.Result.Pages.Failure
@{
    Layout = "_BodyGuardLayout";
}

<div class="body-guard_client-form_outer">
    <div class="body-guard_client-form_middle">
        <div class="body-guard_client-form_inner">
            <h1>Failure</h1>
            <partial name="_Message" for="Message"/>
        </div>
    </div>
</div>
