@page
@model Michaelsoft.BodyGuard.Client.Areas.Authentication.Pages.ConfirmRegistration
@{
    Layout = "_BodyGuardLayout";
}

<div class="body-guard_client-form_outer">
    <div class="body-guard_client-form_middle">
        <div class="body-guard_client-form_inner">
            <h1>Confirm Registration</h1>
        </div>
    </div>
</div>