@page
@model Michaelsoft.BodyGuard.Client.Areas.Authentication.Pages.Logout
@{
    Layout = "_BodyGuardLayout";
}

<div class="body-guard_client-form_outer">
    <div class="body-guard_client-form_middle">
        <div class="body-guard_client-form_inner">
            <p>Logout executed!</p>
        </div>
    </div>
</div>

