@page
@model Michaelsoft.BodyGuard.Client.Areas.Authentication.Pages.PasswordRecovery
@{
    Layout = "_BodyGuardLayout";
}

<div class="body-guard_client-form_outer">
    <div class="body-guard_client-form_middle">
        <div class="body-guard_client-form_inner">
            <h1>Password Recovery</h1>
            <div class="body-guard_client-form_container">
                @{
                    await Html.RenderPartialAsync("_PasswordRecoveryForm", Model.PasswordRecoveryForm);
                }
            </div>
        </div>
    </div>
</div>