@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page-handler="CreateUser" class="btn btn-primary">Create User</a>
    @if (Model.CreatedUser != null)
    {
        <p>@Model.CreatedUser.Name</p>
    }
</div>