@model Michaelsoft.BodyGuard.Client.Models.Forms.PasswordRecoveryForm

<form method="post" asp-area="Authentication" asp-page="/PasswordRecovery">
    <div class="validate-recovery-form">
        <input type="hidden" asp-for="SuccessUrl">
        <input type="hidden" asp-for="FailureUrl">
        <input type="hidden" asp-for="SubmitLabel">
        <input type="hidden" asp-for="PasswordRecoveryRequest.ValidateRecoveryUrl">
        <div class="form-group">
            <div class="bodyguard_form-label">
                <label asp-for="PasswordRecoveryRequest.EmailAddress"></label>
            </div>
            <div class="bodyguard_form-input">
                <input type="text" asp-for="PasswordRecoveryRequest.EmailAddress"/>
            </div>
            <div class="bodyguard_form-error">
                <span asp-validation-for="PasswordRecoveryRequest.EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Model.SubmitLabel</button>
        </div>
    </div>
</form>