@using Michaelsoft.BodyGuard.Client.Models
@using Michaelsoft.BodyGuard.Client.Models.Forms
@model Michaelsoft.BodyGuard.Client.Models.Lists.UserList

@foreach (var userData in Model.UsersData)
{
    <h4>@userData.Id</h4>
    {
        await Html.RenderPartialAsync("_UpdateForm", new UpdateForm
        {
            SuccessUrl = Model.SuccessUrl,
            FailureUrl = Model.FailureUrl,
            SubmitLabel = Model.SubmitLabel,
            User = userData
        });
    }
}