@model Michaelsoft.BodyGuard.Client.Models.Forms.ValidateRecoveryForm

<form method="post" asp-area="Authentication" asp-page="/ValidateRecovery">
    <div class="validate-recovery-form">
        <input type="hidden" asp-for="SuccessUrl">
        <input type="hidden" asp-for="FailureUrl">
        <input type="hidden" asp-for="SubmitLabel">
        <input type="hidden" asp-for="ValidateRecoveryRequest.Token">
        <div class="form-group">
            <label asp-for="ValidateRecoveryRequest.EmailAddress"></label>
            <input type="text" asp-for="ValidateRecoveryRequest.EmailAddress"/>
            <span asp-validation-for="ValidateRecoveryRequest.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidateRecoveryRequest.NewPassword"></label>
            <input type="password" asp-for="ValidateRecoveryRequest.NewPassword"/>
            <span asp-validation-for="ValidateRecoveryRequest.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidateRecoveryRequest.NewPasswordConfirm"></label>
            <input type="password" asp-for="ValidateRecoveryRequest.NewPasswordConfirm"/>
            <span asp-validation-for="ValidateRecoveryRequest.NewPasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Model.SubmitLabel</button>
        </div>
    </div>
</form>